<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/durge/IdeaProjects/Selenium_Basic_1ATB10X">
        <classes>
            <class name="org.dutesting.Selenium_Basic01.Ex01_Selenium_Basic">
                <methods>
                    <include name="test_VerifyVWOLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>